html, body {
  font-family: $font-family-sans-serif;

  ::-webkit-scrollbar {
    width: 1rem;
  }
  ::-webkit-scrollbar-track {
    background: $scroll-track;
  }
  ::-webkit-scrollbar-thumb {
    background: $scroll-thumb;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $scroll-hover;
  }
}
body {
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  background-color: $app-background !important;
  @media (min-width: map-get($grid-breakpoints, "xl")) {
		padding-top: 80px;
  }

}
