html, body {
  font-family: $font-family-sans-serif;
}
body {
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  background-color: $app-background !important;
  @media (min-width: map-get($grid-breakpoints, "xl")) {
		padding-top: 80px;
	}
}
