$font-family-sans-serif: Effra, sans-serif;

// dracula color schema
$app-background: #E9EBEB;
$current :#44475A;
$selection :#44475A;
$normal-text: #424A50;
$comment: #6272A4;
$cyan: #8BE9FD;
$green: #50FA7B;
$orange: #FFB86C;
$pink: #FF79C6;
$purple: #BD93F9;
$red: #FF5555;
$yellow: #F1FA8C;

// Nikolas's colors
$primary: #EDEDED;
$secondary: #2F3851;

// custom
$background-header-footer: #343A40;
$header-dropdown-background: #2D3338;
$footer-copyright: #424A50;
$box-level1: #2A2C38;
$light-gray: rgb(211, 211, 211);
$white-ice: #F7F7F7;
$bg-input: #E2E4E4;
$contact-bg: #AA9489;
$highlight: #FFFFFF;

// scroll colors
$scroll-track: #343A40;
$scroll-thumb: #5D5D5D;
$scroll-hover: #797979;

// Button colors
$primary-button: #44475A;
$primary-gradient-start: #353746;
$danger: #E6413E;
$danger-gradient-end: #B52F2D;
$disabled: #BFBFBF;
$disabled-gradient: false;
$gradient-direction: to top;
$primary-button-text: #F7F7F7;
$anchor: #44475A;
$disabled-button-text: #FFFFFF;
$text-outline-button-hovered: #44475A;
