$font-family-sans-serif: Effra, sans-serif;

// dracula color schema
$app-background: #E9EBEB;
$current :#44475a;
$selection :#44475a;
$normal-text: #424a50;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

// custom
$background-header-footer: #343a40;
$header-dropdown-background: #2d3338;
$footer-copyright: #424a50;
$box-level1: #2a2c38;
$light-gray: rgb(211, 211, 211);
$white-ice: #F7F7F7;

// scroll colors
$scroll-track: #343a40;
$scroll-thumb: #5d5d5d;
$scroll-hover: #797979;
