.title {
  text-align: center;
  color: $current !important;
}

.app-container {
  max-width: 1200px;
  margin: auto !important;
}

.page-content {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 2rem;
}
