.title {
  text-align: center;
  color: $current !important;
}

.app-container {
  max-width: 1200px;
  margin: auto !important;
}

.page-content {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 2rem;
}

.error-message {
  color: $danger;
  margin-top: 1rem;
  text-align: center;
  font-size: .875rem;
}

.success-message {
  max-width: 300px;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  font-size: .875rem;
}

.label-title-wrapper {
  display: flex;
  .label-title {
    color: $current;
    margin-bottom: 0.375rem;
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: .625rem;
    text-transform: uppercase;
  }
  .input-error-message {
    color: $danger;
    text-align: center;
    font-size: .625rem;
    padding-left: .5rem;
  }
}
